<nav class="ui menu">
    <header class="ui header item"> <a href="/"> Gym Application</a></header>
    <div class="right menu">
        <a id="signup" class="item" href="/signup"> Signup  </a>
        <a id="trainer" class="item" href="/trainerLogin"> Trainer Login</a>
        <a id="login" class="item" href="/login"> User Login   </a>

    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>