<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Gym Application</a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
      <div class="ui top attached menu">
          <div class="ui dropdown item">
          <i class="dropdown icon"></i>
          Login
          <div class="menu">
              <div class="header">Login</div>
              <div class="item">User</div>
              <a id="login" class="item" href="/login">  User  </a>
              <a id="login Trainer" class="item" href="/loginTrainer"> Login Trainer</a>
          </div>
  </div>
      </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>