{{> trainermenu id="trainerDashboard"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{assessmentList.title}}

  </h2>
    {{firstName}} {{lastName}}
  {{> listassessments}}
</section>