{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Welcome, please Sign up or Log in to the GYM application to further your goals or start into a new experience </p>
</section>
