{{> trainermenu id="trainerDashboard"}}

<section class="ui segment">
    <h2>Welcome back trainer</h2>
<h2>{{loggedInTrainerFirstname}} {{loggedInTrainerLastname}}</h2>

    {{>listUsers}}
</section>